In [85]:
%pip install beautifulsoup4 dateparser openpyxl

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/site-packages (4.12.2)
Requirement already satisfied: dateparser in /usr/local/lib/python3.10/site-packages (1.1.8)
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 3.9 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/site-packages (from beautifulsoup4) (2.4.1)
Requirement already satisfied: regex!=2019.02.19,!=2021.8.27 in /usr/local/lib/python3.10/site-packages (from dateparser) (2023.6.3)
Requirement already satisfied: python-dateutil in /Users/guillaume/Library/Python/3.10/lib/python/site-packages (from dateparser) (2.8.2)
Requirement already satisfied: pytz in /usr/local/lib/python3.10/site-packages (from dateparser) (2022.2.1)
Requirement already satisfied: tzlocal in /usr/local/lib/python3.10/site-packages (from dateparser) (5.0.1)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Requirement already satisfied: six>=1.5 in /Users/guillaume/Library/Python/3.10/lib/python/site-packages (from python-dateutil->dateparser) (1.16.0)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: python3.10 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [13]:
import requests
from bs4 import BeautifulSoup

response = requests.get('https://www.icj-cij.org/fr/decisions?type=1&from=1946&to=2023&sort_bef_combine=order_DESC')

if not response.ok:
    print('Error in request')
    exit()

soup = BeautifulSoup(response.content)
rows = soup.find_all("div", {"class": "views-row"})

In [24]:
len(rows)

807

In [59]:
from dateparser.search import search_dates

row = rows[0]
articles = []

for row in rows:
    title = row.find('div', {'class': 'views-field-field-document-long-title'}).text.strip()
    subtitle = row.find('div', {'class': 'views-field-field-document-long-title-1'}).text.strip()
    content = row.find('div', {'class': 'views-field-field-case-long-title'}).text.strip()
    footer = row.find('div', {'class': 'views-field-field-icj-document-subtitle'}).text.strip()

    date = search_dates(title)[0][1]

    blacklist = ['Recevabilité', 'Prorogation de délai', 'Fixation de délai', "Décision sur l'organisation des audiences publiques"]

    if any([black_token in footer for black_token in blacklist]):
        continue

    exception = 'Arrêt' in title and 'Exception préliminaire' in footer
    competence = 'Arrêt' in title and 'Compétence de la Cour' in footer

    if 'Arrêt' in title:
        type = 'Arrêt'
    elif 'Ordonnance' in title:
        type = 'Ordonnance'
    elif 'Avis consultatif' in title:
        type = 'Avis consultatif'
    else:
        type = 'Autre'

    ask = 'Demande en indication' in footer

    article = [
        title,
        date,
        subtitle,
        content,
        footer,
        exception,
        competence,
        type,
        ask
    ]

    articles.append(article)

In [127]:
import pandas as pd


columns = ['title', 'date', 'subtitle', 'content', 'footer', 'exception', 'competence', 'type', 'ask']
df = pd.DataFrame(articles, columns=columns)

In [128]:
total_unique_arret = df[df['type'] == 'Arrêt'].groupby('content').agg('count').count().title
total_arret = df[df['type'] == 'Arrêt'].count().title

print(f'Il y a {total_arret} Arrêts dont {total_unique_arret} uniques.')

Il y a 150 Arrêts dont 115 uniques.

In [129]:
total_unique_ordonnance = df[(df['type'] == 'Ordonnance') & (df['ask'] == True)].groupby('content').agg('count').count().title
total_ordonnance = df[(df['type'] == 'Ordonnance') & (df['ask'] == True)].count().title

print(f'Il y a {total_ordonnance} ordonnances dont {total_unique_ordonnance} uniques.')

Il y a 53 ordonnances dont 49 uniques.

In [130]:
total_unique_arret = df[df['type'] == 'Avis consultatif'].groupby('content').agg('count').count().title
total_arret = df[df['type'] == 'Avis consultatif'].count().title

print(f'Il y a {total_arret} Avis consultatif dont {total_unique_arret} uniques.')

Il y a 27 Avis consultatif dont 26 uniques.

In [131]:
df[(df['type'] == 'Arrêt') & ((df['competence'] == True) | (df['exception'] == True))].groupby(['content', 'date', 'competence', 'exception']).agg('count')

                                                                                    title  \
content                                            date       competence exception
Actions armées frontalières et transfrontalière... 1988-12-20 True       False          1
Activités armées sur le territoire du Congo (no... 2006-02-03 True       False          1
Activités militaires et paramilitaires au Nicar... 1984-11-26 True       False          1
Ambatielos (Grèce c. Royaume-Uni)                  1952-07-01 False      True           1
Anglo-Iranian Oil Co. (Royaume-Uni c. Iran)        1952-07-22 False      True           1
Compétence en matière de pêcheries (Espagne c. ... 1998-12-04 True       False          1
Compétence en matière de pêcheries (Royaume-Uni... 1973-02-02 True       False          1
Compétence en matière de pêcheries (République ... 1973-02-02 True       False          1
Détroit de Corfou (Royaume-Uni de Grande-Bretag... 1948-03-25 False      True           1
Incident aérien du 10 août 1999 (Pakistan c. Inde) 2000-06-21 True       False          1
Nottebohm (Liechtenstein c. Guatemala)             1953-11-18 False      True           1
Plateau continental de la mer Egée (Grèce c. Tu... 1978-12-19 True       False          1
Plates-formes pétrolières (République islamique... 1996-12-12 False      True           1
Sentence arbitrale du 3 octobre 1899 (Guyana c.... 2020-12-18 True       False          1
                                                   2023-04-06 False      True           1

                                                                                    subtitle  \
content                                            date       competence exception
Actions armées frontalières et transfrontalière... 1988-12-20 True       False             1
Activités armées sur le territoire du Congo (no... 2006-02-03 True       False             1
Activités militaires et paramilitaires au Nicar... 1984-11-26 True       False             1
Ambatielos (Grèce c. Royaume-Uni)                  1952-07-01 False      True              1
Anglo-Iranian Oil Co. (Royaume-Uni c. Iran)        1952-07-22 False      True              1
Compétence en matière de pêcheries (Espagne c. ... 1998-12-04 True       False             1
Compétence en matière de pêcheries (Royaume-Uni... 1973-02-02 True       False             1
Compétence en matière de pêcheries (République ... 1973-02-02 True       False             1
Détroit de Corfou (Royaume-Uni de Grande-Bretag... 1948-03-25 False      True              1
Incident aérien du 10 août 1999 (Pakistan c. Inde) 2000-06-21 True       False             1
Nottebohm (Liechtenstein c. Guatemala)             1953-11-18 False      True              1
Plateau continental de la mer Egée (Grèce c. Tu... 1978-12-19 True       False             1
Plates-formes pétrolières (République islamique... 1996-12-12 False      True              1
Sentence arbitrale du 3 octobre 1899 (Guyana c.... 2020-12-18 True       False             1
                                                   2023-04-06 False      True              1

                                                                                    footer  \
content                                            date       competence exception
Actions armées frontalières et transfrontalière... 1988-12-20 True       False           1
Activités armées sur le territoire du Congo (no... 2006-02-03 True       False           1
Activités militaires et paramilitaires au Nicar... 1984-11-26 True       False           1
Ambatielos (Grèce c. Royaume-Uni)                  1952-07-01 False      True            1
Anglo-Iranian Oil Co. (Royaume-Uni c. Iran)        1952-07-22 False      True            1
Compétence en matière de pêcheries (Espagne c. ... 1998-12-04 True       False           1
Compétence en matière de pêcheries (Royaume-Uni... 1973-02-02 True       False           1
Compétence en matière de pêcheries (République ... 1973-02-02 True       False           1
Détroit de Corfou (Royaume-Uni de Grande-Bretag... 1948-03-25 False      True            1
Incident aérien du 10 août 1999 (Pakistan c. Inde) 2000-06-21 True       False           1
Nottebohm (Liechtenstein c. Guatemala)             1953-11-18 False      True            1
Plateau continental de la mer Egée (Grèce c. Tu... 1978-12-19 True       False           1
Plates-formes pétrolières (République islamique... 1996-12-12 False      True            1
Sentence arbitrale du 3 octobre 1899 (Guyana c.... 2020-12-18 True       False           1
                                                   2023-04-06 False      True            1

                                                                                    type  \
content                                            date       competence exception
Actions armées frontalières et transfrontalière... 1988-12-20 True       False         1
Activités armées sur le territoire du Congo (no... 2006-02-03 True       False         1
Activités militaires et paramilitaires au Nicar... 1984-11-26 True       False         1
Ambatielos (Grèce c. Royaume-Uni)                  1952-07-01 False      True          1
Anglo-Iranian Oil Co. (Royaume-Uni c. Iran)        1952-07-22 False      True          1
Compétence en matière de pêcheries (Espagne c. ... 1998-12-04 True       False         1
Compétence en matière de pêcheries (Royaume-Uni... 1973-02-02 True       False         1
Compétence en matière de pêcheries (République ... 1973-02-02 True       False         1
Détroit de Corfou (Royaume-Uni de Grande-Bretag... 1948-03-25 False      True          1
Incident aérien du 10 août 1999 (Pakistan c. Inde) 2000-06-21 True       False         1
Nottebohm (Liechtenstein c. Guatemala)             1953-11-18 False      True          1
Plateau continental de la mer Egée (Grèce c. Tu... 1978-12-19 True       False         1
Plates-formes pétrolières (République islamique... 1996-12-12 False      True          1
Sentence arbitrale du 3 octobre 1899 (Guyana c.... 2020-12-18 True       False         1
                                                   2023-04-06 False      True          1

                                                                                    ask
content                                            date       competence exception
Actions armées frontalières et transfrontalière... 1988-12-20 True       False        1
Activités armées sur le territoire du Congo (no... 2006-02-03 True       False        1
Activités militaires et paramilitaires au Nicar... 1984-11-26 True       False        1
Ambatielos (Grèce c. Royaume-Uni)                  1952-07-01 False      True         1
Anglo-Iranian Oil Co. (Royaume-Uni c. Iran)        1952-07-22 False      True         1
Compétence en matière de pêcheries (Espagne c. ... 1998-12-04 True       False        1
Compétence en matière de pêcheries (Royaume-Uni... 1973-02-02 True       False        1
Compétence en matière de pêcheries (République ... 1973-02-02 True       False        1
Détroit de Corfou (Royaume-Uni de Grande-Bretag... 1948-03-25 False      True         1
Incident aérien du 10 août 1999 (Pakistan c. Inde) 2000-06-21 True       False        1
Nottebohm (Liechtenstein c. Guatemala)             1953-11-18 False      True         1
Plateau continental de la mer Egée (Grèce c. Tu... 1978-12-19 True       False        1
Plates-formes pétrolières (République islamique... 1996-12-12 False      True         1
Sentence arbitrale du 3 octobre 1899 (Guyana c.... 2020-12-18 True       False        1
                                                   2023-04-06 False      True         1

In [132]:
df_type = df[(df['type'] != 'Ordonnance') | (df['ask'] == True)].groupby(['type', 'ask']).agg(count=('title', 'count'))
df_type

                        count
type             ask
Arrêt            False    150
Autre            False      2
Avis consultatif False     27
Ordonnance       True      53

In [137]:
import matplotlib.pyplot as plt


df['year'] = df['date'].dt.year.astype('int')

df_year = df[(df['type'] != 'Ordonnance') | (df['ask'] == True)]
df_year = df_year.pivot_table(index='year', columns='type', values='title', aggfunc='count', fill_value=0)

In [138]:
with pd.ExcelWriter('/Users/guillaume/Desktop/export.xlsx') as writer:
    df.to_excel(writer, sheet_name='Raw Dataset')
    df_type.to_excel(writer, sheet_name='Count per type')
    df_year.to_excel(writer, sheet_name='Type per year')